<h1>EDIT TODO</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Completed</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form method="POST" action="/todos?_method=PUT">
                <td><input type="text" placeholder="Name" name="name" value=<%= updateTodo.name %>></td>
                <td><input type="text" placeholder="Description" name="description" value=<%= updateTodo.description %>></td>
                <td><%= updateTodo.completed %></td>
                <td>
                    <button type="submit" value=<%- updateTodo.id %> name='id'>Update</button>
                </td>
            </form>
            <form method="GET" action="/todos">
                <td>
                    <button type="submit">Cancel</button>
                </td>
            </form>
        </tr>
    </tbody>
</table>
